# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages that Data Scientists use
- Commonly used libraries by Data Scientists
- Data Science Tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. tensorflow
4. scikit-learn

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Mina A.Shokry